[Unit]
Description=DisplayLink connection user script

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/displaylink/displaylink_connect.sh
SuccessExitStatus=10

[Install]
WantedBy=graphical-session.target
