#!/usr/bin/make -f

#export DH_VERBOSE=1

VERSION	:= $(shell dpkg-parsechangelog | sed -nr '/^Version:/s/Version: (.*:)?(.*)-(.*)/\2/p')
DESTDIR	= $(CURDIR)/debian/displaylink
DEBIAN_VERSION := $(shell lsb_release -cs)
ifneq (,$(findstring $(DEB_HOST_ARCH), amd64))
  SOURCE_DL_DIR=x64-ubuntu-1604
else ifneq (,$(findstring $(DEB_HOST_ARCH), armhf))
  SOURCE_DL_DIR=arm-linux-gnueabihf
else
  SOURCE_DL_DIR=x86-ubuntu-1604
endif
ifeq ($(DEBIAN_VERSION), buster)
  XORG_FILE=20-displaylink.conf
else
  XORG_FILE=20-displaylink-old.conf
endif

%:
	dh $@ --with systemd

override_dh_auto_install:
	mkdir -p "$(DESTDIR)/var/log/displaylink"
	# firmware
	install -D -m 644 -t "$(DESTDIR)/opt/displaylink" *.spkg
	# Binary
	install -D -m 755 $(SOURCE_DL_DIR)/DisplayLinkManager "$(DESTDIR)/opt/displaylink/DisplayLinkManager"
	# udev script
	mkdir -p "$(DESTDIR)/etc/udev/rules.d"
	bash udev-installer.sh systemd "$(DESTDIR)/etc/udev/rules.d/99-displaylink.rules" "$(DESTDIR)/opt/displaylink/udev.sh"
	# systemd scripts
	mkdir -p "$(DESTDIR)/lib/systemd/system"
	mkdir -p "$(DESTDIR)/lib/systemd/system-sleep"
	bash debian/scripts-extractor.sh "$(DESTDIR)" displaylink-installer.sh
	# Xorg config file
	install -D -m 644 "debian/$(XORG_FILE)" "$(DESTDIR)/usr/share/X11/xorg.conf.d/20-displaylink.conf" 
	# Apparmor
	install -D -m 644 debian/opt.displaylink.DisplayLinkManager "$(DESTDIR)/etc/apparmor.d/opt.displaylink.DisplayLinkManager"
	dh_apparmor --profile-name=opt.displaylink.DisplayLinkManager -pdisplaylink
	# displaylink-connect
	install -D -m 644 debian/displaylink-connect/system/displaylink-connect.conf "$(DESTDIR)/usr/lib/systemd/system/displaylink-driver.service.d/displaylink-connect.conf"
	install -D -m 644 debian/displaylink-connect/user/displaylink-connect.service "$(DESTDIR)/usr/lib/systemd/user/displaylink-connect.service"
	mkdir -p "$(DESTDIR)/usr/lib/systemd/user/graphical-session.target.wants.d"
	ln -s /usr/lib/systemd/user/displaylink-connect.service "$(DESTDIR)/usr/lib/systemd/user/graphical-session.target.wants.d/displaylink-connect.service"
	install -D -m 755 debian/displaylink-connect/displaylink_connect.sh "$(DESTDIR)/opt/displaylink/displaylink_connect.sh"
	install -D -m 755 debian/displaylink-connect/run_as_user_with_display.sh "$(DESTDIR)/opt/displaylink/run_as_user_with_display.sh"

override_dh_systemd_start:
	dh_systemd_start --no-start

override_dh_systemd_enable:
	dh_systemd_enable --no-enable

override_dh_strip:
	patchelf --remove-rpath "$(DESTDIR)/opt/displaylink/DisplayLinkManager"
	dh_strip

# do nothing
override_dh_auto_configure:
override_dh_auto_test:
